
/* all headings */
h1, h2, h3, h4, h5, h6 {
	background-color: lightblue;
}

/* all p within ul */
ul p {
	background-color: yellow;
}

/* anchors that are children of paragraphs */
p>a {
	background-color: orange;
}

/* color text of U.S. Cities green */
.unitedstates {
	color: green;
}